@mixin size($w, $h) {
    width: $w;
    height: $h;
}

//breakpoint
@mixin sm {
    @media (min-width: $breakpoint-sm) {
        @content;
    }
}

@mixin md {
    @media (min-width: $breakpoint-md) {
        @content;
    }
}

@mixin lg {
    @media (min-width: $breakpoint-lg) {
        @content;
    }
}

//background
@mixin bg-cover($url) {
    background-image: url($url);
}

@mixin gradient-x($start-color: $primary, $end-color: $secondary) {
    background-image: linear-gradient(to right, $start-color, $end-color);
}

@mixin gradient-y($start-color: $primary, $end-color: $secondary) {
    background-image: linear-gradient(to bottom, $start-color, $end-color);
}

@mixin radial-gradient($start-color: $primary, $end-color: $secondary) {
    background-image: radial-gradient(50% 50% at 50% 50%, $start-color 0%, $end-color 100%);
}
