.ff-shrikhand {
    font-family: "Shrikhand";
}

.ff-saira{
    font-family: "Saira Extra Condensed";
}

.translate-50 {
    transform: translate(-50%, -50%);
}

.rotate-180 {
    rotate: 180deg;
}

.userSelect-none {
    user-select: none;
}

.fw-medium{
    font-weight: 500;
}

.word-break{
    word-break: break-all;
}

.letter-10{
    letter-spacing: 0.1em;
}

.letter-30{
    letter-spacing: 0.3em;
}

.letter-100{
    letter-spacing: 1em;
}

.letter-130{
    letter-spacing: 1.3em;
}

.fw-black{
    font-weight: 900;
}

.text-justify{
    text-align-last: justify;
}

.linear-purpleToDarkCircle {
    @include radial-gradient(#28085c, $black);
}

.rounded-24{
    border-radius: 1.5rem;
}

@include lg{
    .border-lg-end{
        border-right: 1px solid white;
    }

    .border-lg-bottom{
        border-bottom: 1px solid white;
    }

    .position-lg-static {
        position: static !important;
    }
}
