//customer
$imgPath: "../images/";

//breakpoint
$breakpoint-sm: map-get($grid-breakpoints, sm);
$breakpoint-md: map-get($grid-breakpoints, md);
$breakpoint-lg: map-get($grid-breakpoints, lg);
$breakpoint-xl: map-get($grid-breakpoints, xl);

//color
$primary-100: #e9e2f3;
$primary-200: #ad93cf;
$primary-300: #7000ff;
$primary-400: #6e01f8;
$primary-500: #380c7e;
$primary-600: #1f0f39;
$primary-700: #11002d;

$theme-colors: map-merge(
    $theme-colors,
    (
        "primary-100": $primary-100,
        "primary-200": $primary-200,
        "primary-300": $primary-300,
        "primary-400": $primary-400,
        "primary-500": $primary-500,
        "primary-600": $primary-600,
        "primary-700": $primary-700
    )
);

//font
$custom-fonts: "Noto Sans TC";
$font-family-sans-serif:
    #{$custom-fonts},
    #{$font-family-sans-serif};

$headings-line-height: 1.5;
$font-sizes: map-merge(
    $font-sizes,
    (
        8: 8px,
        12: 12px,
        18: 18px,
        20: 20px,
        48: 48px,
        64: 64px,
        80: 80px,
        96: 96px,
        128: 128px,
        400: 400px
    )
);

//space
$spacers: map-merge(
    $spacers,
    (
        10: 10px,
        12: 12px,
        18: 18px,
        20: 20px,
        28: 28px,
        32: 32px,
        36: 36px,
        40: 40px,
        52: 52px,
        54: 54px,
        56: 56px,
        60: 60px,
        76: 76px,
        80: 80px,
        96: 96px,
        100: 100px,
        124: 124px,
        144: 144px,
        160: 160px,
        220: 220px
    )
);

$headings-margin-bottom: 0;
$paragraph-margin-bottom: 0;

//button
$btn-font-weight: 500;

//link underline
$link-decoration: none;

//card
$card-spacer-x: 24px;

