<footer>
    <div class="container py-40 py-lg-52 ">
        <div class="row row-cols-1 gy-2 justify-content-between">
            <div class="col-lg-5">
                <h2 class="ff-shrikhand fs-2">ALPHABOX+</h2>
                <p class="d-none d-lg-block fw-bold letter-10">Copyright © 2023 Hexschool.</p>
            </div>
            <div class="col-lg-1 d-flex justify-content-lg-center">
                <span class="material-symbols-outlined fs-80">emergency</span>
            </div>
            <div class="col-lg-5 d-flex align-items-center justify-content-lg-end">
                <ul class="navbar-nav flex-lg-row">
                    <li class="nav-item"><a href="#" class="nav-link fw-bold px-lg-12 py-1">關於我們</a></li>
                    <li class="nav-item"><a href="#" class="nav-link fw-bold px-lg-12 py-1">產品資訊</a></li>
                    <li class="nav-item"><a href="#" class="nav-link fw-bold px-lg-12 py-1">常見問題</a></li>
                    <li class="nav-item"><a href="#" class="nav-link fw-bold ps-lg-12 py-1">隱私政策</a></li>
                </ul>
            </div>
            <div class="col d-lg-none">
                <p class="fw-bold letter-10">Copyright © 2023 Hexschool.</p>
            </div>
        </div>
    </div>
</footer>