.form-control{
    border-radius: 0px;
}

.form-floating > label{
    padding: 0.5rem 1rem;
}

.form-floating > .form-control:focus, .form-floating > .form-control:not(:placeholder-shown), .form-floating > .form-control-plaintext:focus, .form-floating > .form-control-plaintext:not(:placeholder-shown){
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
}