//banner bg
.banner_bg{
    background-image: url("#{$imgPath}home_background.png");
    background-position: top center;
    background-size: cover;

    @include lg{
        max-height: 880px;
    }
}

//banner circle
@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.circleImg {
    @include size(196px, 196px);
    animation-name: rotate;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}


.ai_row{
    @include lg{
        min-height: 700px;
    }
}

//banner ai img
%banner_AI{
    min-height: 350px;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;

    &:hover{
        opacity: 1;
        box-shadow: 0 0 16px 8px rgba(143, 0, 255, 0.8);
    }

    @include md{
        min-height: 500px;
    }
}

.banner_diane{
    @extend %banner_AI;
    max-height: 700px;
    background-image: url("#{$imgPath}diane_square1.png");
    
    @include md{
        background-image: url("#{$imgPath}diane.png");
    }
}

.banner_felix{
    @extend %banner_AI;
    max-height: 580px;
    background-image: url("#{$imgPath}felix_square1.png");
    
    @include md{
        background-image: url("#{$imgPath}felix.png");
    }
}

.banner_karina{
    @extend %banner_AI;
    max-height: 580px;
    background-image: url("#{$imgPath}karina_square1.png");
    
    @include md{
        background-image: url("#{$imgPath}karina.png");
    }
}

.banner_vito{
    @extend %banner_AI;
    max-height: 700px;
    background-image: url("#{$imgPath}vito_square1.png");
    
    @include md{
        background-image: url("#{$imgPath}vito.png");
    }
}

.linear-hr{
    height: 40px;
}

.purpleToDark{
    @include gradient-x($primary-300, $primary-700);
}

.darkToPurple{
    @include gradient-x($primary-700, $primary-300);
}

.linear-dark{
    @include gradient-x(#300871, $black);
}

.bg-phone{
    background-image: url("#{$imgPath}carousel_background.png");
    background-position: center top;

    @include lg{
        width: 48% !important;
    }
}