//banner bg
.banner_bg {
    background-image: url("#{$imgPath}home_background.png");
    background-position: top center;
    background-size: cover;

    @include lg {
        max-height: 880px;
    }
}

//banner circle
@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.circle {
    @include size(196px, 196px);
}

.rotateImg {
    animation-name: rotate;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

.ai_row {
    @include lg {
        min-height: 700px;
    }
}

//banner ai img
%banner_AI {
    min-height: 350px;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;

    &:hover {
        opacity: 1;
        box-shadow: 0 0 16px 8px rgba(143, 0, 255, 0.8);
    }

    @include md {
        min-height: 500px;
    }
}

.banner_diane {
    @extend %banner_AI;
    max-height: 700px;
    background-image: url("#{$imgPath}diane_square1.png");

    @include md {
        background-image: url("#{$imgPath}diane.png");
    }
}

.banner_felix {
    @extend %banner_AI;
    max-height: 580px;
    background-image: url("#{$imgPath}felix_square1.png");

    @include md {
        background-image: url("#{$imgPath}felix.png");
    }
}

.banner_karina {
    @extend %banner_AI;
    max-height: 580px;
    background-image: url("#{$imgPath}karina_square1.png");

    @include md {
        background-image: url("#{$imgPath}karina.png");
    }
}

.banner_vito {
    @extend %banner_AI;
    max-height: 700px;
    background-image: url("#{$imgPath}vito_square1.png");

    @include md {
        background-image: url("#{$imgPath}vito.png");
    }
}

.linear-hr {
    height: 40px;
}

.purpleToDark {
    @include gradient-x($primary-300, $primary-700);
}


//what
.darkToPurple {
    @include gradient-x($primary-700, $primary-300);
}

.linear-dark {
    background-image: url("#{$imgPath}carousel_background.png"), linear-gradient(to right, #300871, $black);
    background-repeat: no-repeat, no-repeat;
}


//news
.mw-950 {
    max-width: 950px;
}

//share
.linear-darkToPurpleCircle {
    @include radial-gradient($black, #28085c);
}

.shareCardList{

    li{
        min-height: 351px;

        @include lg{
            max-width: 416px;
            min-height: 416px;
        }
    }
}

.shareDecorateText{
    color: #311263;
    bottom: -30px;

    @include md{
        bottom: -60px;
    }

    @include lg{
        bottom: -250px;
    }
}

//contact us
.decorateLine{
    width: 124px;
    height: 12px;
    border-radius: 10px;
}

.card{
    background-color: $black;
    background-blend-mode: darken;
    background-size: cover ;
    background-position: center;
    transition: all .5s;

    &:hover{
        background-color: rgba(0, 0, 0, 0.5) !important;
    }
}

@include xl{
    .cardDivider{
        position: relative;
    
        &:after{
            position: absolute;
            content: '';
            width: 1px;
            height: 100%;
            top: 0;
            right: 0;
            background-color: white;
        }
    }
}
