<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>week8</title>
    <%- include('./layout/head'); -%>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <section class="container-fluid px-xl-80 banner_bg position-relative">
      <div class="row pt-28 pb-32 py-lg-56 text-white">
        <div class="col-lg-4 align-self-end">
          <a href="#" class="d-none d-lg-block pb-lg-2 border-bottom fw-bold text-white">
            最新消息！新版本 v15.4 釋出，搶先體驗！
          </a>
        </div>
        <div class="order-2 col-lg-4 d-flex justify-content-center overflow-hidden">
          <img src="../assets/images/circle.png" alt="circle" class="circle rotateImg img-fluid">
        </div>
        <div class="order-1 order-lg-3 col-lg-4 d-flex flex-column justify-content-between">
          <p class="pt-2 pt-lg-1 mb-32 mb-lg-0 border-top fw-bold letter-10">ALPHABOX+ STUDIO</p>
          <p class="d-none d-lg-block text-primary-200 fw-medium letter-10">Copyright © 2023 Hexschool.</p>
        </div>
      </div>

      <div class="d-lg-none text-white text-center mb-32">
        <p class="ff-shrikhand fs-5 letter-130 word-break">ALPHABOX+</p>
        <p class="letter-30 fw-bold word-break">擁抱未來科技，專屬您的3D立體投影陪伴機器人</p>
      </div>

      <div class="row ff-shrikhand text-center gy-3 gy-lg-0 gx-lg-32 mx-lg-0 mb-32 mb-lg-40 ai_row">
        <div class="col-lg-3">
          <a href="#" class="banner_diane h-100 text-white">
            <h2 class="pt-3">Diane</h2>
          </a>
        </div>

        <div class="col-lg-6 d-flex flex-column">
          <div class="d-none d-lg-block text-white text-center mb-4">
            <p class="ff-shrikhand fs-2 text-justify">A L P H A B O X +</p>
            <p class="letter-100 fw-bold word-break">擁抱未來科技，專屬您的3D立體投影陪伴機器人</p>
          </div>
          <div class="row row-cols-1 row-cols-lg-2 gy-3 gy-lg-0 gx-lg-32 flex-grow-1">
            <div class="col">
              <a href="#" class="banner_felix h-100 text-white">
                <h2 class="pt-3">Felix</h2>
              </a>
            </div>

            <div class="col">
              <a href="#" class="banner_karina h-100 text-white">
                <h2 class="pt-3">Karina</h2>
              </a>
            </div>
          </div>
        </div>

        <div class="col-lg-3">
          <a href="#" class="banner_vito h-100 text-white">
            <h2 class="pt-3">Vito</h2>
          </a>
        </div>
      </div>

      <div class="linear-hr purpleToDark"></div>
      
    </section>

    <section class="linear-dark pb-60 pb-lg-52">
      <div class="container-fluid px-xl-80 pt-3 pt-lg-220">
        <h2 class="mb-20 mb-lg-3 fs-4 fs-lg-48 text-white letter-100 fw-bold word-break">
          <span class="mb-2 mb-lg-12">什麼是</span><br/>
          <span>ALPHABOX+</span>
        </h2>
      </div>
      <hr class="border-white mt-0 mb-3 mb-lg-32"/>

      <div class="container-fluid px-xl-80">
        <section class="row justify-content-between align-items-center mb-32">
          <div class="col-1 d-none d-lg-block">
            <div class="swiper-button-prev py-lg-5">
              <img src="../assets/images/rightArrow.png" alt="left arrow" class="img-fluid rotate-180">
            </div>
          </div>

          <div class="col-lg-9">
            <div class="swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide slide-box">
                  <div class="alphabox h-100 p-3 pe-lg-40 d-flex align-items-end align-items-lg-center justify-content-lg-end">
                    <div class="text-white text-lg-end">
                      <h3 class="mb-2 mb-lg-3">
                        <span class="ff-shrikhand fs-64 fs-lg-96">01</span><br/>
                        <span class="letter-100 word-break">立體投影技術</span>
                      </h3>
                      <p>透過高科技立體投影技術，讓您感受真實的科技世界。</p>
                    </div>
                  </div>
                </div>

                <div class="swiper-slide slide-box">
                  <div class="alphabox h-100 p-3 pe-lg-40 d-flex align-items-end align-items-lg-center justify-content-lg-end">
                    <div class="text-white text-lg-end">
                      <h3 class="mb-2 mb-lg-3">
                        <span class="ff-shrikhand fs-64 fs-lg-96">02</span><br/>
                        <span class="letter-100 word-break">立體投影技術</span>
                      </h3>
                      <p>透過高科技立體投影技術，讓您感受真實的科技世界。</p>
                    </div>
                  </div>
                </div>

                <div class="swiper-slide slide-box">
                  <div class="alphabox h-100 p-3 pe-lg-40 d-flex align-items-end align-items-lg-center justify-content-lg-end">
                    <div class="text-white text-lg-end">
                      <h3 class="mb-2 mb-lg-3">
                        <span class="ff-shrikhand fs-64 fs-lg-96">03</span><br/>
                        <span class="letter-100 word-break">立體投影技術</span>
                      </h3>
                      <p>透過高科技立體投影技術，讓您感受真實的科技世界。</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-1 d-none d-lg-block">
            <div class="swiper-button-next py-lg-5">
              <img src="../assets/images/rightArrow.png" alt="right arrow" class="img-fluid">
            </div>
          </div>
        </section>
        
        <div class="linear-hr darkToPurple"></div>
      </div>


    </section>

    <section class="linear-purpleToDarkCircle">
      <div class="container pt-60 pt-lg-160 pb-80 pb-lg-40 text-white">
        <h2 class="mb-32 mb-lg-40 text-center text-lg-start fs-1 fs-lg-48 letter-100 word-break">最新消息</h2>

        <div class="row row-cols-1 mb-40 mb-lg-76">
          <div class="col">
            <a href="#" class="text-white">
              <div class="px-3 py-32 py-lg-40 mb-2 border-top border-white">
                <p class="mb-2 d-flex align-items-center letter-100 fw-bold word-break">
                  <span class="me-3 material-symbols-outlined fs-18">emergency</span>
                  2023.06.30
                </p>
                <h3 class="mb-12 letter-100 word-break">產品升級公告</h3>
                <div class="d-lg-flex justify-content-between">
                  <p class="mb-12 mb-lg-0 fw-bold mw-950">
                    榮幸地宣布，ALPHABOX+ 已成功完成最新一代的升級！本次升級包括提升投影解析度、優化語音辨識技術，以及擴充情感識別功能。歡迎您了解本次升級帶來的更為卓越的性能！
                  </p>
                  <img src="../assets/images/rightArrow.png" alt="right arrow" class="img-fluid">
                </div>
              </div>
            </a>
          </div>
          <div class="col">
            <div class="row row-cols-1 row-cols-lg-2 gx-0">
              <div class="col">
                <a href="#" class="text-white">
                  <div class="px-3 py-32 py-lg-40 mb-2 border-top border-lg-end border-lg-bottom border-white">
                    <p class="mb-2 d-flex align-items-center letter-100 fw-bold word-break">
                      <span class="me-3 material-symbols-outlined fs-18">emergency</span>
                      2023.06.30
                    </p>
                    <h3 class="mb-12 letter-100 word-break">限時優惠活動</h3>
                    <p class="mb-12 mb-lg-0 fw-bold">
                      為答謝廣大用戶的支持，本月將舉辦一場限時優惠活動。訂閱 ALPHABOX+ 的顧客，皆可享受九折優惠。機會難得，請勿錯過此良機！
                    </p>
                    <img src="../assets/images/rightArrow.png" alt="right arrow" class="img-fluid">
                  </div>   
                </a>
              </div>
              <div class="col">
                <a href="#" class="text-white">
                  <div class="px-3 py-32 py-lg-40 mb-2 border-top border-bottom border-white">
                    <p class="mb-2 d-flex align-items-center letter-100 fw-bold word-break">
                      <span class="me-3 material-symbols-outlined fs-18">emergency</span>
                      2023.06.30
                    </p>
                    <h3 class="mb-12 letter-100 word-break">限時優惠活動</h3>
                    <p class="mb-12 mb-lg-0 fw-bold">
                      為答謝廣大用戶的支持，本月將舉辦一場限時優惠活動。訂閱 ALPHABOX+ 的顧客，皆可享受九折優惠。機會難得，請勿錯過此良機！
                    </p>
                    <img src="../assets/images/rightArrow.png" alt="right arrow" class="img-fluid">
                  </div>
                </a>
              </div>
            </div>
            
          </div>
        </div>

        <div class="mb-lg-96 d-flex justify-content-center position-relative">
            <a href="#" class="text-white">
              <div class="rotateImg">
                <img src="../assets/images/textCircle.png" alt="readMore">
              </div>
              <p class="position-absolute translate-50 top-50 start-50">查看更多</p>
            </a>
        </div>
        <p class="d-none d-lg-block fw-bold text-end">為環保盡一份心力，我們的包裝盒和紙質說明書都使用環保材料</p>
        
      </div>
    </section>

    <section class="linear-darkToPurpleCircle pt-60 pt-lg-160 pb-80 pb-lg-40 position-relative overflow-hidden z-2">
      <div class="container text-white">
        <div class="row align-items-center">
          <div class="col-lg-5">
            <h2 class="fs-1 fs-lg-48 letter-100 mb-3">使用分享</h2>
          </div>
          <div class="col-lg d-none d-lg-block">
            <p class="fw-bold">展示其他使用者對於產品的真實體驗與評價，讓您更加放心選擇。</p>
          </div>
          <div class="col-12">
            <p class="mb-4 mb-lg-40 fw-bold d-flex align-items-center">
              01<span class="material-symbols-outlined px-1">horizontal_rule</span>04
            </p>
            <p class="d-lg-none mb-4">
              展示其他使用者對於產品的真實體驗與評價，讓您更加放心選擇。
            </p>
          </div>
          <div class="col-12 mb-3 mb-lg-4">
            <span class="me-3 material-symbols-outlined fs-80">emergency</span>
          </div>
        </div>
      </div>

      <div class="overflow-hidden mb-lg-124">
        <div class="container">
          <div class="shareCardSwiper">
            <ul class="swiper-wrapper px-0 shareCardList">
              <!-- Slides -->
              <li class="swiper-slide d-flex flex-column justify-content-between w-100 p-4 p-lg-40 bg-primary-500 text-white fw-bold ">
                <div>
                  <p class="mb-32 d-flex align-items-center">
                    Zona <span class="material-symbols-rounded px-2 fs-8">circle</span> Taipei
                  </p>
                  <p>
                    ALPHABOX+ 真的很夯！每次把它打開，感覺就像是身臨其境一樣。它陪我度過了很多寂寞的時光，讓我在家裡也能享受到優質的休閒時光。
                  </p>
                </div>
                <div class="d-flex align-items-center">
                  <span class="material-symbols-rounded pe-3 fs-6">circle</span>
                  <span class="material-symbols-rounded pe-3 fs-6">circle</span>
                  <p>ALPHABOX+ Dianne</p>
                </div>
              </li>

              <li class="swiper-slide d-flex flex-column justify-content-between w-100 p-4 p-lg-40 bg-white fw-bold ">
                <div>
                  <p class="mb-32 d-flex align-items-center">
                    Lin <span class="material-symbols-rounded px-2 fs-8">circle</span> Chiayi
                  </p>
                  <p>
                    非常推薦！它的畫面清晰度超高，真的讓我驚艷不已。而且它還可以和我互動，感覺就像是有個真實的朋友在身邊。
                  </p>
                </div>
                <div class="d-flex align-items-center">
                  <span class="material-symbols-rounded pe-3 fs-6">circle</span>
                  <span class="material-symbols-rounded pe-3 fs-6">circle</span>
                  <p>ALPHABOX+ Felix</p>
                </div>
              </li>

              <li class="swiper-slide d-flex flex-column justify-content-between w-100 p-4 p-lg-40 bg-primary-500 text-white fw-bold ">
                <div>
                  <p class="mb-32 d-flex align-items-center">
                    Yun <span class="material-symbols-rounded px-2 fs-8">circle</span> Taipei
                  </p>
                  <p>
                    我之前一直在找能陪伴我度過空虛時光的好夥伴，直到遇見 ALPHABOX+。它不僅僅是一個機器人，更像是一個真正的朋友，陪著我分享喜怒哀樂。真的很讚！
                  </p>
                </div>
                <div class="d-flex align-items-center">
                  <span class="material-symbols-rounded pe-3 fs-6">circle</span>
                  <span class="material-symbols-rounded pe-3 fs-6">circle</span>
                  <p>ALPHABOX+ Karina</p>
                </div>
              </li>

              <li class="swiper-slide d-flex flex-column justify-content-between w-100 p-4 p-lg-40 bg-white fw-bold ">
                <div>
                  <p class="mb-32 d-flex align-items-center">
                    Zichi <span class="material-symbols-rounded px-2 fs-8">circle</span> Kaohsiung
                  </p>
                  <p>
                    讓我在忙碌的工作之餘，也能找到休閒的樂趣。它的互動功能非常有趣，讓我在短短的時間內就愛上了它。給它一百分！
                  </p>
                </div>
                <div class="d-flex align-items-center">
                  <span class="material-symbols-rounded pe-3 fs-6">circle</span>
                  <span class="material-symbols-rounded pe-3 fs-6">circle</span>
                  <p>ALPHABOX+ Vito</p>
                </div>
              </li>
            </ul>
          </div>
          <!-- Scrollbar -->
          <div class="row align-items-center mt-5">
            <div class="col-8">
              <div class="swiper-scrollbar position-static"></div>
            </div>
            <div class="col-1 d-none d-md-block">
              <p class="mb-0 text-white">SCROLL</p>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <p class="d-none d-lg-block fw-bold text-white">若您有任何疑問或建議，歡迎隨時與我們聯絡，我們將竭誠為您解答。</p>
      </div>

      <span class="w-100 position-absolute z-n1 ff-shrikhand fs-128 fs-lg-400  text-center shareDecorateText user-select-none">ALPHABOX+</span>

    </section>

    <section class="bg-primary-600">
      <div class="container pt-60 pb-80 py-lg-144">
        <div class="row row-cols-1 row-cols-lg-2">
          <div class="col text-white fw-bold">
            <h2 class="mb-12 mb-lg-20 fs-1 fs-lg-48 letter-100">聯絡我們</h2>
            <div class="d-flex align-items-center mb-36 mb-lg-54">
              <span class="material-symbols-rounded px-2 fs-8 fs-lg-12">circle</span>
              <span class="decorateLine bg-white"></span>
            </div>
            <p class="mb-1">讓科技成為您的最佳夥伴</p>
            <p class="mb-4 mb-lg-0">立即體驗神奇功能並享限時優惠！</p>
          </div>

          <div class="col">
            <span class="mb-3 material-symbols-outlined text-white fs-80">emergency</span>
            <form class="row flex-column row-cols-1">
              <div class="col">
                  <input type="email" class="form-control mb-3 fw-bold fs-lg-20" id="userEmail" placeholder="Email" required>
              </div>

              <div class="col mb-3">
                  <textarea class="form-control fw-bold fs-lg-20" id="userComment" placeholder="Comments" style="height: 100px" required></textarea>
              </div>
              
              <div class="col-4 align-self-end">
                <button class="w-100 btn btn-primary-400 d-flex justify-content-center py-2 rounded-1 text-white">
                  <span class="material-symbols-outlined me-2 fs-18 fs-lg-4">point_scan</span>
                  送出
              </button>
              </div>
            </form>
            
          </div>
        </div>
      </div>
    </section>

    <section class="container-fluid bg-black">
      <ul class="list-unstyled row row-cols-2 row-cols-xl-4 gx-0">
        <li class="col">
          <a href="#" class="card text-white text-center py-4 pb-xl-56 px-12 px-xxl-40 cardDivider"
              style="background-image: url(../assets/images/diane_vertical.png);">
            <span class="mb-3 mb-xl-20 ff-saira fs-400">1</span>
            <h3 class="mb-18 mb-xl-80 ff-shrikhand fs-4 fs-lg-2">Diane</h3>

            <div class="row row-cols-1 row-cols-xl-2 align-items-center">
              <div class="col text-start">
                <h5 class="fs-6">知識型</h5>
                <p>學術領導/知識分享/智能問答</p>
              </div>
              <div class="col text-start text-xl-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="24%" viewBox="0 0 155 24" fill="none">
                    <mask id="mask0_2824_6" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="155" height="24">
                        <rect width="155" height="24" fill="#D9D9D9"></rect>
                    </mask>
                    <g mask="url(#mask0_2824_6)">
                        <path d="M142 19L145.425 13H2V11H145.425L142 5L153 12L142 19Z" fill="white"></path>
                    </g>
                </svg>
              </div>
            </div>
          </a>
        </li>

        <li class="col">
          <a href="#" class="card text-white text-center py-4 pb-xl-56 px-12 px-xxl-40 cardDivider"
              style="background-image: url(../assets/images/felix_vertical.png);">
            <span class="mb-3 mb-xl-20 ff-saira fs-400">2</span>
            <h3 class="mb-18 mb-xl-80 ff-shrikhand fs-4 fs-lg-2">Felix</h3>

            <div class="row row-cols-1 row-cols-xl-2 align-items-center">
              <div class="col text-start">
                <h5 class="fs-6">娛樂型</h5>
                <p>音樂播放/語音互動/遊戲陪伴</p>
              </div>
              <div class="col text-start text-xl-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="24%" viewBox="0 0 155 24" fill="none">
                    <mask id="mask0_2824_6" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="155" height="24">
                        <rect width="155" height="24" fill="#D9D9D9"></rect>
                    </mask>
                    <g mask="url(#mask0_2824_6)">
                        <path d="M142 19L145.425 13H2V11H145.425L142 5L153 12L142 19Z" fill="white"></path>
                    </g>
                </svg>
              </div>
            </div>
          </a>
        </li>

        <li class="col">
          <a href="#" class="card text-white text-center py-4 pb-xl-56 px-12 px-xxl-40 cardDivider"
              style="background-image: url(../assets/images/karina_vertical.png);">
            <span class="mb-3 mb-xl-20 ff-saira fs-400">3</span>
            <h3 class="mb-18 mb-xl-80 ff-shrikhand fs-4 fs-lg-2">Karina</h3>

            <div class="row row-cols-1 row-cols-xl-2 align-items-center">
              <div class="col text-start">
                <h5 class="fs-6">生活型</h5>
                <p>健康提醒/日程安排/智能家居</p>
              </div>
              <div class="col text-start text-xl-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="24%" viewBox="0 0 155 24" fill="none">
                    <mask id="mask0_2824_6" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="155" height="24">
                        <rect width="155" height="24" fill="#D9D9D9"></rect>
                    </mask>
                    <g mask="url(#mask0_2824_6)">
                        <path d="M142 19L145.425 13H2V11H145.425L142 5L153 12L142 19Z" fill="white"></path>
                    </g>
                </svg>
              </div>
            </div>
          </a>
        </li>
      
        <li class="col">
          <a href="#" class="card text-white text-center py-4 pb-xl-56 px-12 px-xxl-40"
              style="background-image: url(../assets/images/vito_vertical.png);">
            <span class="mb-3 mb-xl-20 ff-saira fs-400">4</span>
            <h3 class="mb-18 mb-xl-80 ff-shrikhand fs-4 fs-lg-2">Vito</h3>

            <div class="row row-cols-1 row-cols-xl-2 align-items-center">
              <div class="col text-start">
                <h5 class="fs-6">情感型</h5>
                <p>情感識別/心情分析/心靈支持</p>
              </div>
              <div class="col text-start text-xl-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="24%" viewBox="0 0 155 24" fill="none">
                    <mask id="mask0_2824_6" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="155" height="24">
                        <rect width="155" height="24" fill="#D9D9D9"></rect>
                    </mask>
                    <g mask="url(#mask0_2824_6)">
                        <path d="M142 19L145.425 13H2V11H145.425L142 5L153 12L142 19Z" fill="white"></path>
                    </g>
                </svg>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </section>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../js/main.js"></script>
    <script type="module" src="../js/index.js"></script>
    <script type="module" src="../js/swiper.js"></script>
  </body>
</html>
