<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>week8</title>
    <%- include('./layout/head'); -%>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <section class="container-fluid px-xl-80 banner_bg">
      <div class="row pt-28 pb-32 py-lg-56 text-white">
        <div class="col-lg-4 align-self-end">
          <p class="d-none d-lg-block pb-lg-2 border-bottom fw-bold">最新消息！新版本 v15.4 釋出，搶先體驗！</p>
        </div>
        <div class="order-2 col-lg-4 d-flex justify-content-center overflow-hidden">
          <img src="../assets/images/circle.png" alt="circle" class="circleImg img-fluid">
        </div>
        <div class="order-1 order-lg-3 col-lg-4 d-flex flex-column justify-content-between">
          <p class="pt-2 pt-lg-1 mb-32 mb-lg-0 border-top fw-bold letter-10">ALPHABOX+ STUDIO</p>
          <p class="d-none d-lg-block text-primary-200 fw-medium letter-10">Copyright © 2023 Hexschool.</p>
        </div>
      </div>

      <div class="d-lg-none text-white text-center mb-32">
        <p class="ff-shrikhand fs-5 letter-130 word-break">ALPHABOX+</p>
        <p class="letter-30 fw-bold word-break">擁抱未來科技，專屬您的3D立體投影陪伴機器人</p>
      </div>

      <div class="row ff-shrikhand text-center gy-3 gy-lg-0 gx-lg-32 mb-32 mb-lg-40 ai_row">
        <div class="col-lg-3">
          <a href="#" class="banner_diane h-100 text-white">
            <h2 class="pt-3">Diane</h2>
          </a>
        </div>

        <div class="col-lg-6 d-flex flex-column">
          <div class="d-none d-lg-block text-white text-center mb-4">
            <p class="ff-shrikhand fs-2 text-justify">A L P H A B O X +</p>
            <p class="letter-100 fw-bold word-break">擁抱未來科技，專屬您的3D立體投影陪伴機器人</p>
          </div>
          <div class="row row-cols-1 row-cols-lg-2 gy-3 gy-lg-0 gx-lg-32 flex-grow-1">
            <div class="col">
              <a href="#" class="banner_felix h-100 text-white">
                <h2 class="pt-3">Felix</h2>
              </a>
            </div>

            <div class="col">
              <a href="#" class="banner_karina h-100 text-white">
                <h2 class="pt-3">Karina</h2>
              </a>
            </div>
          </div>
        </div>

        <div class="col-lg-3">
          <a href="#" class="banner_vito h-100 text-white">
            <h2 class="pt-3">Vito</h2>
          </a>
        </div>
      </div>

      <div class="linear-hr purpleToDark"></div>
    </section>

    <section class="linear-dark position-relative pb-60 pb-lg-52 z-n1">
      <div class="bg-phone w-100 h-100 position-absolute z-n1"></div>
      <div class="container-fluid px-xl-80 pt-3 pt-lg-220">
        <h2 class="mb-20 mb-lg-3 fs-4 fs-lg-48 text-white letter-100 fw-bold word-break">
          <span class="mb-2 mb-lg-12">什麼是</span><br/>
          <span>ALPHABOX+</span>
        </h2>
      </div>
      <hr class="border-white mt-0 mb-3 mb-lg-32"/>

      <div class="container-fluid px-xl-80">
        <section class="row justify-content-between align-items-center mb-32">
          <div class="col-1 d-none d-lg-block">
            <div class="swiper-button-prev">
              <img src="../assets/images/rightArrow.png" alt="left arrow" class="img-fluid rotate-180">
            </div>
          </div>

          <div class="col-lg-9">
            <div class="swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide slide-box">
                  <div class="alphabox h-100 p-3 pe-lg-40 d-flex align-items-end align-items-lg-center justify-content-lg-end">
                    <div class="text-white text-lg-end">
                      <h3 class="mb-2 mb-lg-3">
                        <span class="ff-shrikhand fs-64 fs-lg-96">01</span><br/>
                        <span class="letter-100 word-break">立體投影技術</span>
                      </h3>
                      <p>透過高科技立體投影技術，讓您感受真實的科技世界。</p>
                    </div>
                  </div>
                  
                </div>
                <div class="swiper-slide slide-box bg-black text-white">
                  2
                </div>
                <div class="swiper-slide slide-box bg-black text-white">
                  3
                </div>
              </div>
            </div>
          </div>

          <div class="col-1 d-none d-lg-block">
            <div class="swiper-button-next">
              <img src="../assets/images/rightArrow.png" alt="right arrow" class="img-fluid">
            </div>
          </div>
        </section>
        
        <div class="linear-hr darkToPurple"></div>
      </div>


    </section>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../js/main.js"></script>
    <script type="module" src="../js/index.js"></script>
    <script type="module" src="../js/swiper.js"></script>
  </body>
</html>
